<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univie.ac.at.meineinkaufswagerl">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_paclist"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProfileUnvertragActivity" />
        <activity android:name=".ProfileSupportPage" />
        <activity android:name=".ListSupportPage" />
        <activity android:name=".ListCreateSpeechActivity" />
        <activity android:name=".ListCreateTextActivity" />
        <activity android:name=".ListSpeechIntroActivity" />
        <activity android:name=".ListConfirmationSpeechActivity"></activity>
    </application>

</manifest>