<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univie.ac.at.meineinkaufswagerl">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_paclist"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ProfileUnvertragActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ProfileSupportPage"
            android:screenOrientation="portrait" />
        <activity android:name=".shoppinglist.ShoppingManuallyActivity" />
        <activity
            android:name=".shoppinglist.ListSupportPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shoppinglist.ListCreateSpeechActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shoppinglist.ListCreateTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shoppinglist.ListSpeechIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shoppinglist.ListConfirmationSpeechActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".shoppinglist.ListFinishedSpeechActivity" />
        <activity android:name=".profile.ProfileNameSpeechActivity" />
        <activity android:name=".profile.ProfileUnvertragSpeechActivity" />
        <activity android:name=".profile.ProfileDiseasesSpeechActivity" />
        <activity android:name=".profile.ProfileExtrasSpeechActivity" />
        <activity android:name=".profile.ProfileCharitySpeechActivity" />
        <activity android:name=".profile.ProfilePaymentSpeechActivity" />
        <activity android:name=".profile.ProfileFinishedSpeechActivity"></activity>
    </application>

</manifest>