<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univie.ac.at.meineinkaufswagerl">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_paclist"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileUnvertragActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileSupportPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListSupportPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListCreateSpeechActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListCreateTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListSpeechIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListConfirmationSpeechActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ListFinishedSpeechActivity"></activity>
    </application>

</manifest>